._rfu-inline-message {
	padding: 5px 15px;
	margin: 1px 5px 0 0;
	display: inline-block;
}

@media (max-width: 767px) {
	._rfu-inline-message {
		margin-top: 2px;
	}
}

._rfu-table-form-group ._rfu-inline-message {
	margin-top: 2px;
}

._rfu-inline-message-icon {
	font-size: 115%;
}

.alert-dismissible {
	padding-right: 35px;
}
